.newslist {
    margin: 10px 0;
}

.newslist .news {
    width: 381px;
    border: 1px solid #e5e5e5;
    float: left;
}

.newslist .news.center {
    margin: 0 20px;
}

.newslist .news .title {
    line-height: 40px;
    background: #f4f4f4;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
}

.newslist .news .title h4 {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 14px;
    float: left;
    width: 100px;
    font-weight: normal;
    color: #666;
}

.newslist .news .title a {
    float: right;
    color: #999;
    width: 50px;
    display: block;
}

.newslist .news ul.n {
    padding: 5px 17px 10px;
}

.newslist .news ul.n li {
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
}

.newslist .news ul.n li a {
    color: #666;
}

.newslist .news ul.n li a:hover {
    color: #0cb95f;
}

.newslist .news .pcontainer {
    height: 233px;
    overflow: hidden;
}

.newslist .news ul.p {
    padding: 10px;
}

.newslist .news ul.p li {
    color: #666;
    clear: both;
    display: block;
    overflow: hidden;
    width: 360px;
    height: 113px;
    overflow: hidden;
}

.newslist .news ul.p li .item {
    padding: 10px 0;
    border-bottom: 1px dashed #e5e5e5;
}

.newslist .news ul.p .left {
    display: inline;
    float: left;
    width: 50px;
}

.newslist .news ul.p .right {
    display: inline;
    float: left;
    margin-left: 20px;
    width: 276px;
    position: relative;
}

.newslist .news ul.p .left img {
    border: 1px solid #f4f4f4;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.newslist .news ul.p .left p {
    text-align: center;
}

.newslist .news ul.p p {
    color: #666;
    line-height: 24px;
    padding: 5px 0;
    white-space: height: 48px;
    font-style:normal;
    overflow: hidden;
}

.newslist .news ul.p p.txt {
    background: #f4f4f4;
    padding: 5px 15px;
    height: 48px;
}

.newslist .news ul.p div.h {
    color: #999;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
}

.newslist .news ul.p div.h a {
    color: #999;
    padding: 0 10px;
}

.newslist .news ul.p div.h a:hover {
    color: #0cb95f;
}

.newslist .news ul.p .right i {
    position: absolute;
    left: -7px;
    top: 20px;
    background-image: url("/common/images/icons.png");
    width: 8px;
    height: 12px;
    background-position: -265px -292px;
}

.newslist .news .top {
    height: 92px;
    padding-top: 8px;
    padding-bottom: 6px;
}

.newslist .news .top .l {
    display: block;
    float: left;
    padding: 10px 15px 0 15px;
    width: 100px;
    position: relative;
}

.newslist .news .num {
    color: #fff;
    text-align: center;
    height: 15px;
    width: 15px;
    font-style: italic;
    display: inline-block;
    font-weight: bold;
    line-height: 16px;
    margin-right: 3px;
}

.newslist .news .num.t2 {
    background: #ffbc1d;
}

.newslist .news .num.t3 {
    background: #6aabea;
}

.newslist .news .top .l img {
    width: 100px;
    height: 80px;
}

.newslist .news .top .l .num {
    position: absolute;
    left: 15px;
    top: 10px;
    background: #e16070;
}

.newslist .news .top .r {
    float: left;
    width: 230px;
    padding: 10px 10px 0 0;
}

.newslist .news .top .r .t {
    display: block;
    height: 16px;
    line-height: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    overflow: hidden;
    font-weight: bold;
}

.newslist .news .top .r .txt {
    line-height: 20px;
    color: #666;
    margin-top: 10px;
}
    
.clear {
    clear: both;
    width: 100%;
    height: 1px;
    font-size: 1px;
    line-height: 1px
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: " ";
    font-size: 0;
}

.clearfix {
    clear: both;
    zoom: 1;
}
